body {
  --pivotal-green: #86c775;
  --pivotal-mint: #00b5a3;
  --pivotal-dark-yellow: hsl(49.3,90.5%,37.1%);
  --pivotal-ink: #00253E;
  font-family: "Montserrat";
}

#root {
  height: 100vh;
  overflow-y: auto;
}

.Pong {
  background-color: var(--pivotal-mint);
  min-height: 100%;
  width: 100%;

  transition: background-color 500ms;
}

.Pong-loading {
  background-color: var(--pivotal-ink);
}

.Pong-busy {
  background-color: var(--pivotal-dark-yellow);
}

.page-header {
  border-bottom: none;
  color: white;
  margin-top: 0;
  padding-top: 40px;
  text-align: center;
}

.page-header h1 {
  font-size: 72px;
}

.pong-icon {
  width: 100px;
  margin: 0 10px;
  vertical-align: baseline;
}

h2 {
  color: white;
  font-size: 24px;
  text-align: center;
}

.queue-entry {
  display: flex;
  font-size: 24px;
  line-height: 50px;
}

.queue-empty {
  opacity: .7;
}

.queue-placeholder {
  color: rgba(255, 255, 255, .7);
  text-align: center;
}

.queue-entry-waiting {
  opacity: .7;
}

.queue-entry-name {
  flex: 1 0 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue-entry-time-started {
  color: rgba(0, 0, 0, .7);
  display: inline-block;
  font-size: 60%;
  margin-right: 10px;
}

.queue-entry-time-too-long {
  color: rgba(255, 0, 0, .7);
}

.queue-pong-icon {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
